<section class="hero-wrap js-fullheight" id="home-section">
    <div style="background-image: url(assets/bg_1.jpg);" class="container-fluid">
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
                <div class="col-lg-8 col-md-6 my-animate d-flex align-items-center">
                    <div class="text text-center">
                        <h2 class="text-white animated flipInY">I’m Philip Ogunwobi</h2>
                        <h6 class="new-style text-blue wow fadeInUp" data-wow-delay=".3s">Software Developer</h6>
                        <h5 class="text-white wow fadeInUp" data-wow-delay=".3s">
                            I started as a Graphics Designer in 2011. My passion to deliver world class solutions for businesses across the globe lead me into the world of software development in 2016, and It has been a wonderful experience... I love what I do, and I learn every
                            day...
                        </h5>
                        <div class="counter-wrap my-animate d-flex mt-md-3">
                            <div class="text">
                                <p>
                                    <a href="#contact-section" class="btn change py-3 px-3">Contact
                    Me</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>