<section class="my-section my-project" id="products-section">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5">
            <div class=" container col-md-12 heading-section text-center my-animate">
                <div class="container">
                    <h2 class="mb-4">Products</h2>

                    <p>
                        Are you hungry for excellence? Then, welcome to the Club! I believe I can do it, then, I go all out for it. I build concrete strategy & plans, learn from the Best, benchmark the Best, follow best practices, strife to become the best.
                    </p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="project img my-animate d-flex justify-content-center align-items-center" style="background-image: url(assets/work-1.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Branding &amp; UI/UX Design</a></h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img my-animate d-flex justify-content-center align-items-center" style="background-image: url(assets/work-2.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Branding &amp; UI/UX Design</a></h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img my-animate d-flex justify-content-center align-items-center" style="background-image: url(assets/work-3.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Branding &amp; UI/UX Design</a></h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>