<section class="my-about img my-section my-no-pt my-no-pb" id="about-section">
    <div>
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-5 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(assets/about.jpg);"></div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section my-animate">
                            <h2 class="mb-4 mt-4">About Me</h2>
                            <p class="text-justify">
                                A <span style="color:green;">Software Developer</span> who is multi-talented with good all round technical skills and the ability to develop, manage and maintain close working relationships with other support and development
                                teams. Having the personal drive with positive, well-organized and structured work ethic.
                            </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex">
                                    <span>Name:</span> <span>Ogunwobi, Philip Ayodeji</span>
                                </li>
                                <li class="d-flex">
                                    <span>Address:</span>
                                    <span>6 Paul Odulaja Crescent, Ifako Bus-stop, Ifako-Gbagada,
                    Lagos, Nigeria</span>
                                </li>
                                <li class="d-flex">
                                    <span>Zip code:</span> <span>100234</span>
                                </li>
                                <li class="d-flex">
                                    <span>Email:</span> <span><a href="mailto:paogunwobi@gmail.com">paogunwobi@gmail.com</a></span>
                                </li>
                                <li class="d-flex">
                                    <span>Phone: </span> <span><a href="tel://+2348138384155">+2348138384155</a></span>
                                </li>
                                <li class="d-flex">
                                    <span>GIthub: </span> <span><a href="https://github.com/paogunwobi" target="_blank">Click Here</a></span>
                                </li>
                                <li class="d-flex">
                                    <span>StackOverflow: </span> <span><a href="https://stackoverflow.com/users/10506620/philay?tab=profile" target="_blank">Click Here</a>
                                      </span>
                                </li>
                                <li class="d-flex">
                                    <span>Twitter: </span> <span><a href="https://twitter.com/princephilay" target="_blank">Click Here</a></span>
                                </li>
                                <li class="d-flex">
                                    <span>LinkedIn: </span> <span><a href="https://www.linkedin.com/in/philip-ayodeji-ogunwobi-995a7086/" target="_blank">Click Here</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="counter-wrap my-animate d-flex mt-md-3">
                        <div class="text">
                            <p>
                                <!-- <button class="btn change py-3 px-3" (click)="downloadPdf()">Download Resume</button> -->
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
