<section class="my-section" id="services-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center py-1 mt-1">
            <div class="col-md-12 heading-section text-center my-animate">
                <h2 class="mb-0">Services</h2>
                <p>
                    Offering great value to your business is my priority. Make your software challenges mine. Together we can achieve great things.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fas fa-globe"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">Website & App Development</h3>
                        <p>
                            To take your business to the next level you need a professionally designed website. Communication,Beauty, Responsiveness, Maintainability and reasonable Cost is key. And that's what you will get.
                        </p>
                    </div>
                </a>
            </div>
            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fas fa-cogs"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">Custom Software Solutions</h3>
                        <p>
                            The need to build or even upgrade your software cannot be negotiated. You need competent minds, that pays great attention to details.
                        </p>
                    </div>
                </a>
            </div>
            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fas fa-users-cog"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">Training and Consultancy</h3>
                        <p>
                            You need guide using or learning IT, as a business owner/Individual? To achieve sustainable profitability using Information and Related Technology, risks must be adequately managed.
                        </p>
                    </div>
                </a>
            </div>

            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fas fa-id-card-alt"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">UI/UX Design</h3>
                        <p>
                            Create wonderful user interface and top notch user experience. With Clickable Prototypes, Design Layouts, Mockups and Information Architecture
                        </p>
                    </div>
                </a>
            </div>
            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fab fa-wordpress"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">WordPress Design</h3>
                        <p>
                            One of the keys to Business Success now is an effective website. WordPress is one of the best platforms for building websites for small businesses. WordPress is easy to set up, manage and design.
                        </p>
                    </div>
                </a>
            </div>
            <div class="mb-5 col-md-4 text-center d-flex my-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                      <i class="fas fa-address-card"></i>
          </span>
                    <div class="desc">
                        <h3 class="mt-2 p-2 mb-3">Branding</h3>
                        <p>
                            Your brand is the totality of what you represent. From planning and strategy to design and development...
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>