<section class="my-section my-no-pb goto-here mt-2" id="">
    <div class="mb-5" id="resume-section"></div>
    <div class="mb-5" style="height: 30px;" id="page-1"></div>
    <div class="mb-5" id=""></div>
    <div class="container minHgt">
        <div class="row">
            <div class="col-md-3">
                <div class=""></div>
                <div class="sticky">
                    <nav class="" id="nav-tabs">
                        <ul>
                            <span><a href="#page-1"><i class="fas fa-award mr-2"></i>Experience</a></span><br>
                            <span><a href="#page-2"><i class="fas fa-graduation-cap mr-2"></i>Education</a></span><br>
                            <span><a href="#page-3"><i class="fas fa-medal mr-2"></i>Skills</a>
                              </span>
                        </ul>
                    </nav>
                </div>
                <div class=""></div>
            </div>
            <div class="col-md-9">
                <div class="page one">
                    <h3 class="heading">Experience</h3>
                    <div class="resume-wrap d-flex my-animate wow fadeInU" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">March 2021 - Present</span>
                            <h5>SOFTWARE DEVELOPER</h5>
                            <span class="position">CBIT Industries</span>
                            <h6>
                                20a, Babatunde Anjous Avenue, Off Admiralty way, Lekki Phase 1, Lagos
                            </h6>
                            <!-- <h6>
                                <a class="link" href="#" target="_blank">www..com</a>
                            </h6> -->
                        </div>
                    </div>

                    <div class="resume-wrap d-flex my-animate wow fadeInU" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">November 2018 - February 2021</span>
                            <h5>SOFTWARE DEVELOPER</h5>
                            <span class="position">Xputer Technologies</span>
                            <h6>
                                <a class="link" href="https://www.xputertechnologies.com" target="_blank">www.xputertechnologies.com</a>
                            </h6>
                        </div>
                    </div>

                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">June 2018 - October 2018</span>
                            <h5>GRADUATE TRAINEE</h5>
                            <span class="position">Software Development Training partly sponsored by Microsoft</span>
                            <h6>Zinox Institute of Technology, Ikoyi, Lagos</h6>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">May 2017 - June 2018</span>
                            <h5>UI DEVELOPER (FREELANCE)</h5>
                            <!-- <span class="position">Philay Graphix Freelance Business</span> -->
                            <h6>
                                <a class="link" href="https://www.fiverr.com/" target="_blank">fiverr.com</a> |
                                <a class="link" href="https://www.freelancer.com/" target="_blank">freelancer.com</a>
                            </h6>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">November 2016 - October 2017</span>
                            <h5>SUBJECT TEACHER - NYSC</h5>
                            <span class="position">Government Army Senior Secondary School, Elele, Rivers State</span>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">May 2011 - June 2016</span>
                            <h5>GRAPHICS DESIGNER/FREELANCER</h5>
                            <!-- <span class="position">Philay Graphix Freelance Business</span> -->
                            <h6>
                                <a class="link" href="https://www.fiverr.com/" target="_blank">fiverr.com</a> |
                                <a class="link" href="https://www.freelancer.com/" target="_blank">freelancer.com</a>
                            </h6>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">October 2014 - April 2015</span>
                            <h5>INDUSTRIAL TRAINEE</h5>
                            <span class="position">Ladoke Akintola University of Technology</span>
                            <h6>Network Unit</h6>
                        </div>
                    </div>
                    <div class="" id="page-2"></div>
                </div>
                <div id="" class="page two">
                    <h3 class="heading">Education</h3>
                    <div class="resume-wrap d-flex my-animate wow fadeInUp" data-wow-delay=".3s">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class=""><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">November 2010 - December 2015</span>
                            <h5>BACHELOR OF TECHNOLOGY</h5>
                            <h6>Pure And Applied Mathematics</h6>
                            <span class="position">Ladoke Akintola University of Technology</span>
                        </div>
                    </div>
                    <div class="" id="page-3"></div>
                    <!-- <div class="resume-wrap d-flex my-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2004 - 2010</span>
                            <h5>SENIOR SECONDARY CERTIFICATE EXAMINATION</h5>
                            <h6>Science Option</h6>
                            <span class="position">George Green Baptist College, Ogbomoso</span>
                        </div>
                    </div> -->
                </div>
                <div id="" class="page three">
                    <h3 class="heading wow fadeInDown" data-wow-delay=".3s">Skills</h3>
                    <!-- <div class="row progress-circle mb-5">
                        <div class="wow fadeInUp col-lg-4 mb-4" data-wow-delay=".4s">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h3 class="h5 font-weight-bold text-center mb-4">
                                    TYPESCRIPT
                                </h3>
                                <div class="progress mx-auto" data-value="95">
                                    <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">
                                            95<sup class="small">%</sup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wow fadeInUp col-lg-4  mb-4" data-wow-delay=".4s">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h3 class="h5 font-weight-bold text-center mb-4">NODE.JS</h3>
                                <div class="progress mx-auto" data-value="85">
                                    <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">
                                            85<sup class="small">%</sup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wow fadeInUp col-lg-4 mb-4" data-wow-delay=".4s">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h3 class="h5 font-weight-bold text-center mb-4">
                                    ANGULAR
                                </h3>
                                <div class="progress mx-auto" data-value="90">
                                    <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">
                                            90<sup class="small">%</sup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>TYPESCRIPT</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>HTML</h3>
                                    <span class="float-right ml-2">- 4years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>CSS</h3>
                                    <span class="float-right ml-2">- 4years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>ANGULAR</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-2" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>NodeJs</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>ts-node</h3>
                                <div class="progress">
                                    <div class="progress-bar color-2" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>NestJs</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                        <span>80%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Javascript</h3>
                                    <span class="float-right ml-2">- 4years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-2" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span>85%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>C#</h3>
                                    <span class="float-right ml-2">- 2years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-3" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>WordPress</h3>
                                    <span class="float-right ml-2">- 4years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-4" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>MongoDB</h3>
                                    <span class="float-right ml-2">- 2years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-5" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                        <span>75%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Python</h3>
                                    <span class="float-right ml-2">- 1year</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        <span>50%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Kubernetes</h3>
                                    <span class="float-right ml-2">- 1year</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        <span>50%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>GIT</h3>
                                    <span class="float-right ml-2">- 4years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Docker</h3>
                                    <span class="float-right ml-2">- 1year</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                        <span>60%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>VueJs</h3>
                                    <span class="float-right ml-2">- 1year</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                        <span>65%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>ReactJs</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>Cloud Computing</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>DevOps</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>UI/UX Design</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Figma</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span>70%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>CorelDraw</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>Adobe Creative Suite</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>SQL</h3>
                                    <span class="float-right ml-2">- 3years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span>85%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="progress-wrap my-animate">
                                <div class="row">
                                    <h3>Ionic</h3>
                                    <span class="float-right ml-2">- 2years</span>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span>70%</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- <div class="col-md-6 animate-box wow fadeInUp" data-wow-delay="0.3s">
                            <div class="progress-wrap my-animate">
                                <h3>flutter</h3>
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                                        <span>55%</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
